*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100%;
    width: 100%;
    background-color: wheat;
    display: grid;
    grid-template-columns: 1fr 12fr;
    grid-template-rows: 1fr 12fr 1fr;
    /* gap: 10px; */
}
.box{
    border: 2px solid black;
}
.header{
    grid-column: 1/-1;
    background-color: rgb(224, 143, 143);
    /* display:flex;
    justify-content:center;
    align-items: center; */
}
.head-nav{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a:link{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(54, 110, 221);
}

.footer{
    grid-column: 1/-1;
    background-color: rgb(75, 95, 114);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar{
    background-color: rgb(132, 163, 163);
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}


